html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #4a90e2, #ffffffcc);
    font-family: Arial;
    margin: 0;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4a90e2;
    color: #ffffff;
    padding: 20px;
}

.logo img {
    height: 85px;
}

.redes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.redes img:hover {
    transform: scale(1.2);
}

.rede1 {
    height: 60px;
}

.rede2 {
    height: 60px;
}

.rede3 {
    height: 50px;
}

.menu {
    background: #ffbe45;
    padding: 10px;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.linha {
    height: 4px;
    background: #8a770f;
}

h1 {
    margin: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    width: 150px;
}

.quadrado {
    width: 120px;
    height: 120px;
    border: 2px solid #ffffff;
    margin: auto;

    background-size: cover;
    background-position: center;

    transition: 0.3s;
}

.card:nth-child(1) .quadrado {
    background-image: url("imgs/wright.png");
}

.card:nth-child(2) .quadrado {
    background-image: url("imgs/edgeworth.png");
}

.card:nth-child(3) .quadrado {
    background-image: url("imgs/gumshoe.png");
}

.card:nth-child(4) .quadrado {
    background-image: url("imgs/maya.png");
}

.card:nth-child(5) .quadrado {
    background-image: url("imgs/franziska.png");
}

.card:nth-child(6) .quadrado {
    background-image: url("imgs/diego.png");
}

.card:nth-child(1) .quadrado:hover {
    transform: scale(1.2);
}

.card:nth-child(2) .quadrado:hover {
    transform: rotate(10deg);
}

.card:nth-child(3) .quadrado:hover {
    transform: translateY(-10px);
}

.card:nth-child(4) .quadrado:hover {
    transform: scale(1.2);
}

.card:nth-child(5) .quadrado:hover {
    transform: rotate(-10deg);
}

.card:nth-child(6) .quadrado:hover {
    transform: translateY(10px);
}

.card p {
    margin-top: 10px;
    color: rgb(92, 137, 233);
}

.copyright {
    background: #ffbe45;
    padding: 10px;
    margin-top: auto;

    border-top: 4px solid #8a770f;
    color: white;
}

.titulo {
    color: white;
    font-size: 40px;
    text-align: center;
}